html {
	box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header-fonts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

nav ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color:#0F0F1E;
}

nav li {
 	float: left;
}

nav li a {
	display: block;
  	color: white;
  	text-align: center;
  	padding: 10px 10px;
  	background-color:#0F0F1E;
}

.profile-pic {
    float: left;
    margin-left: 10px;
    border: 5px solid #ffffff;
    object-fit: cover;
}

.profile-links {
    padding-left: 550px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}