/*Global Styles
===============================*/
html {
	box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header-fonts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
}

p {
/*    text-align: center;*/
	margin: 10px;
}

/* Navigation bar styling -------------------------------------- */
.navbar {
  list-style-type: none;
  margin: 15px;
  margin-bottom: 30px;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 5;
}

nav li {
  list-style-type: none;
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-left: 2px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #BDBDBD;
}


/*Main Styles
===============================*/
.grid-contain {
	display: grid;
	grid-template: 400px 300px / 1fr 1fr;
	grid-column-gap: 50px;
}

.profile-pic {
	width: 400px;
	grid-column-start: 1;
	justify-self: end;
	align-self: center;
	border-radius: 50%;
	border: 5px solid black;
}

.profile-links {
	grid-column-start: 2;
    justify-self: start;
	align-self: center;
	list-style-type: none;
}

.profile-links li img {
	vertical-align:middle;
	margin: 0.3em;
}

#logo {
	width: 70px;
}


.aboutMe-text {
	grid-column-start: 1;
	grid-column-end: span 2;
	max-width: 900px;
	min-width: 200px;
/*	margin: 50px;*/
	align-self: center;
	justify-self: center;
}

.aboutMe-text h2 {
	text-align: center;
}

.profile-pic path {
	stroke: red;
}



/* Responsive Media Queries
===============================*/

/* another setup
 /*Mobile first queries 

/* Larger than mobile 
@media (min-width: 400px) {}

/* Larger than phablet 
@media (min-width: 550px) {}

/* Larger than tablet 
@media (min-width: 750px) {}

/* Larger than desktop 
@media (min-width: 1000px) {}

/* Larger than Desktop HD 
@media (min-width: 1200px) {}

*/
@media only screen and (max-width: 20em) {

	
}

@media only screen and (min-width: 20em) and (max-width: 36em) {
/*	mobile styles go here */

}

/*@media only screen and (min-width: 36em) and (max-width: 52em) {*/
@media (min-width: 750px) {
/*	tablet styles go here*/
	.grid-contain {
		
	}
	
	.profile-links {
		grid-column-start: 2;
	}
	
	.profile-pic {
		width: 350px;
		grid-column-start: 1;
	}
	
	.aboutMe-text {
		grid-column-start: 1;
		grid-column-end: span 2;
	}
}


@media only screen and (min-width: 75em) {
/*	desktop styles go here */
	.grid-contain {
		display: grid;
		grid-template: 400px 300px / 1fr 1fr;
		grid-column-gap: 50px;
	}

	.profile-pic {
		width: 400px;
		grid-column-start: 1;
		justify-self: end;
		align-self: center;
		border-radius: 50%;
		border: 5px solid black;
	}

	.profile-links {
		grid-column-start: 2;
		justify-self: start;
		align-self: center;
		list-style-type: none;
	}

	.profile-links li img {
		vertical-align:middle;
		margin: 0.3em;
	}

	#logo {
		width: 70px;
	}


	.aboutMe-text {
		grid-column-start: 1;
		grid-column-end: span 2;
		max-width: 900px;
		min-width: 200px;
	/*	margin: 50px;*/
		align-self: center;
		justify-self: center;
	}

	.aboutMe-text h2 {
		text-align: center;
	}
}
