#report-container {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-auto-rows: auto;
	padding-left: 2.5em;
	padding-right: 2.5em;
}

#report-title {
	border-bottom: 2px solid #5F6368;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 0.5em;
}

#report-box {
	border: 2px solid #5F6368;
	border-radius: 1.5em 1.5em 1.5em 1.5em;
	padding-left: 2em;
	padding-right: 2em;
	box-shadow: 0.2em 0.2em 1.25em slategrey;
	
}

#abstract {
	border-bottom: 1px solid #5F6368;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

#introduction {
	border-bottom: 1px solid #5F6368;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

#background-info {
	border-bottom: 1px solid #5F6368;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

#methodology {
	border-bottom: 1px solid #5F6368;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

#questions {
	border-bottom: 1px solid #5F6368;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

#discussion {
	border-bottom: 1px solid #5F6368;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

#conclusion {
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 1em;
	padding-top: 0.4em;
}

p {
	text-indent: 1em;
}

.numbered-list {
	list-style: list-style: circle || decimal;
	text-align: center;
}

.report-author {
	1.12em;
	text-align: center;
}

.report-title {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.2em;
	text-align: center;
}

.section-headers {
	font-size: 1.17em;
	font-weight: bold;
	padding-bottom: 0.2em;
	text-align: center;
}