#report-container {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 20px;
	grid-auto-rows: auto;
}

#report-title {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;	
}

#abstract {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#introduction {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#background-info {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#methodology {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#questions {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#discussion {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#conclusion {
	border: 2px solid #73AD21;
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	text-indent: 1em;
}